<!-- <div>
  <input type="text"  name="earch">
  #<input type="submit" value="Submit">
  <button type="button">Search</button> 
</div> -->

<!-- <%= form_tag("/search", method: "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>  -->

<%if user_signed_in?%>
  <li class="login">
    Logged in
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>     
  </li>
  <li>
    <%= link_to('Products', products_path, method: :get) %>     
  </li>
<%else%>
  <li>
    Sign in
    <%= link_to('Sign in', new_user_session_path, method: :get) %>
  </li>
  <li>
    Sign up
    <%= link_to('Sign up',new_user_registration_path, method: :get) %>
  </li>
  <li>
      <%= link_to('Products', products_path, method: :get) %>
  </li>
<%end%>
<h1>Welcome to ProductPedia</h1>

