<div class="container">
	<% if user_signed_in? && @product.owner_id == current_user.id %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">Edit basic product information</div>
          <div class="panel-body">
            <%= form_for @product do |f| %>
              <%= f.label :name %><br/>
              <%= f.text_field :name , class: "form-control" %><br/>
              <%= f.label :description %><br/>
              <%= f.text_area :description, rows: "3", cols: "35", class: "form-control" %></br>
              <%= f.label :category_id, "Category" %></br>
              <%= f.collection_select(:category_id, Category.all, :id, :name, {prompt: "Select a category"}, class: "form-control") %></br>
              <%= f.label :distribution_company_tokens, "Distributer" %>        
              <%= f.text_field :distribution_company_tokens , class: "form-control"%></br>
              <%= f.label :manufacture_company_tokens, "Manufacturer" %>        
              <%= f.text_field :manufacture_company_tokens, class: "form-control" %></br>
              <%= f.label :ingredient_tokens, "Ingredients" %>        
              <%= f.text_field :ingredient_tokens, class: "form-control" %></br>
              <%= f.label :nutrition_tokens, "Nutritions" %>        
              <%= f.text_field :nutrition_tokens, class: "form-control" %></br>
              <%= f.label :warning %><br/>
              <%= f.text_field :warning , class: "form-control"%><br/>
              <%= f.label :picture %><br/>
              <%= f.file_field :picture %><br/>
              <%= f.submit "Submit change", method: :patch , class: "btn btn-primary"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
	<% else %>
		<%= render :text => "U don't have rights for this page", :status => 500 %>
	<%end%>
</div>