

<%= form_tag products_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<h1>Products</h1>
  <ul>
    <% @products.each do |product| %>
      <li class="result">
      	<%= product.name %>
        <%= link_to('View Product', product_path(product.id))%>
      </li>    
    <%end%>
  </ul>