<div class="container">
	<% if user_signed_in? %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">Product data</div>
            <div class="panel-body">
              <p>Click below if u want to create products importing data from a file (Excel, ...)</p>
              <a href="#" id="show_id" onclick="document.getElementById('spoiler_id').style.display=''; document.getElementById('show_id').style.display='none';" class="link">[Open]</a>
              <span id="spoiler_id" style="display: none">
                <a onclick="document.getElementById('spoiler_id').style.display='none'; document.getElementById('show_id').style.display='';" class="link">[Close]</a>
                <%= form_for @product_import do |p| %>
                  </br>
                  <div class="field">
                    <%= p.file_field :file, id: "file"%>
                  </div></br>
                  <div class="buttons">
                    <%= p.submit "Import" ,class: "btn btn-primary"%>
                  </div>
                <% end %>
              </span>

            </br></br>
              <%= form_for @new_product do |f| %>
                <%= f.label :name, "Product name" %></br>
                <%= f.text_field :name , placeholder: "Product name", class: "form-control" %></br>
                <%= f.label :description, "Description" %></br>
                <%= f.text_area :description , placeholder: "Some Description" , rows: "3", cols: "35", class: "form-control" %></br>
                <%= f.fields_for :bar_codes do |builder|%>
                  <%= builder.label :barcode, "Bar code" %></br>
                  <%= builder.text_field :barcode , maxlength: "13", class: "form-control"%>
                <% end %></br>
                <%= f.label :category_id, "Category" %></br>
                <%= f.collection_select(:category_id, Category.all, :id, :name, {prompt: "Select a category"}, class: "form-control") %></br>
                <%= f.label :picture, "Picture" %></br>
                <%= f.file_field :picture , class: "btn btn-default"%></br>
                <%= f.submit "Next", method: :post , class: "btn btn-primary"%>
              <%end%>
            </div>  
          </div>
      </div>
    </div>
  <%end%>
</div>
