<div class="container">
	<% if user_signed_in? %>
    <div class="row">
      <div class="col-md-4">
        <%= render "basic_product_info" %>
      </div>
      <div class="col-md-4">
        <%= render "ingredients" %>
        <%= render "product_warning"%>
        <%= render "nutrition_facts"%>
      </div>
      <div class="col-md-4">
        <%= render "favorite_products" %>
      </div>
    </div>
  <% else %>
  	<div class="row">
  	  <div class="col-md-5">
  	 		<%= render "basic_product_info" %>
  		</div>
  		<div class="col-md-5">
  			<%= render "ingredients" %>
  			<%= render "product_warning"%>
  	 		<%= render "nutrition_facts"%>
  		</div>
  	</div>
  <% end %>
</div>