<div class="container">
	<div class="row">
	  <div class="col-md-3 col-md-offset-0">
	 		<div class="thumbnail">
	      <%= image_tag @product.picture.url(:medium) %></br>
			  <div class="panel panel-default">
			  	<div class="panel-heading">Product name: <%= @product.name %></div>
			  		<div class="panel-body">
			      	<p> Found in:<%= @category %></p>
							<p>	Made by: <%= @manufact.name %></p>
							<p>	Barcode: <%= @b_code %></p>
							<div>
								Product description:
								<%= text_area_tag :Description, @product.description%>
							</div>
						</div>	
				</div>    
			</div>
		</div>
	
		<div class="col-md-4">
	
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">Ingredients(<%= @ingredients.count %>)</div>
							<ul>
								<% @ingredients.each do |ing| %>
									<li class="ingredientname">
									<%= ing.name %>
									</li>
								<%end%>
						  </ul><br/>
						</div>    
					</div>
			 		
			 		<div class="row">
						<div class="panel panel-default">
					  	<div class="panel-heading">Nutrition facts</div>
							<table>
								<% @nutrition_facts.each do |nut| %>
									<% @nutrit_amount.each do |nut_amount| %>
										<tr>
											<% if nut.id == nut_amount.nutrition_id %>
												<td>
													<%= nut.name %>
												</td>
												<td class="nutritfield">
													<%= nut_amount.amount%>
												</td>
										  <%end%>
										</tr>
									<%end%>
							  <%end%>
							</table>
						</div>
					</div>
		</div>

		<div class="col-md-5 col-md-offset-0" >
					<div class="rown">
						<div class="panel panel-default">
						 	<% if user_signed_in? %>
						  	<div class="panel-heading">Favorites</div>
						  	<ul class="nav nav-pills">
								  <li>
								  	<%= link_to('Add',favorite_product_path(@product),method: :post )%>
								  </li>
						  	  <% if product_is_favorite(current_user, @product) %>
										<li >
								    	<%= link_to('Remove ', remove_favorite_product_path(@product), method: :delete)%>
								    </li>
								    <li style = "font-size: 20px">
								    	<span class="glyphicon glyphicon-thumbs-up" style= "padding:10px "></span>
								    </li>
									<%end%>
						  	</ul>
								<ul class="list-group">
							    <% list_favorite_products(current_user).each do |p| %>
							      <li class="list-group-item">
							        <%= p.name %>
							      </li>
							    <%end%>
							  </ul>
						  <%end%>
						</div>
					</div>
		</div>

	</div>
</div>