<%= image_tag @product.picture.url(:medium) %></br>

<p> Found in:<%= @category %></p>
<p>	Made by: <%= @manufact.name %></p>

<% if user_signed_in? %>
	<%= form_for @product do |f| %>
	  <%= f.label :name %><br/>
	  <%= f.text_field :name %><br/>
	  <%= f.label :description %><br/>
	  <%= f.text_field :description %><br/>
	  <%= f.file_field :picture %><br/>
	  <%= f.submit "Submit change", method: :patch %>
	<% end %>

	<%= form_tag(favorite_product_path(@product), method: :post) do %>
	  <%= submit_tag("Add to favorites") %>
	<% end %> 

  <% if product_is_favorite(current_user, @product) %>
    <p class="favorite"> <%= @product.name %> </p>
    <%= link_to('Remove product from favorites', remove_favorite_product_path(@product), method: :delete)%>
  <%end%>
<%else%>
	<%= form_for @product do |f| %>
	  <%= f.label :name %><br/>
	  <%= f.text_field :name %><br/>
	  <%= f.label :description %><br/>
	  <%= f.text_field :description %><br/>
	  <%= f.file_field :picture %>
	<%end%>
<%end%>
<p>Ingredients(<%= @ingredients.count %>)</p>
<ul>
<% @ingredients.each do |ing| %>
	<li class="ingredientname">
		<%= ing.name %>
	</li>
<%end%>
</ul><br/>

<div><p class="description">Description: <%= @product.description %></p></div><br/> 
<div><p class="barcode">Bar Code: <%= @b_code %></p></div>
<br/>

<% if @product.warning.blank? %>
  <p class="warning">Warning: No specific warnings are currently known for this product </p>
<%else%>
  <div><p class="warning">Warning: <%= @product.warning %></p></div>
<%end%>

<table>
  <p>Nutrition facts</p>
	<% @nutrition_facts.each do |nut| %>
		<% @nutrit_amount.each do |nut_amount| %>
			<tr>
				<% if nut.id == nut_amount.nutrition_id %>
					<td>
						<%= nut.name %>
					</td>
					<td class="nutritfield">
						<%= nut_amount.amount%>
					</td>
				<%end%>
			</tr>
		<%end%>
  <%end%>
</table>